.logo-brand{
  min-width: 60px;
  max-width: 60px;
}


/* footer */

.list-inline{
    color: white;

}
.footer-style {
    padding-top: 50px;
    background-color: rgba(1, 3, 5, 0.836);
    color: white;
    margin-top: 50px;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
    font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
 
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;

}


#footer-style a {
    color: white;
}

#footer a {
    color: white;

}

#footer-style a :hover {
    color: white;

}

#footer .list-inline .list-inline-item{
    padding: 10px 15px; 
    color: white;
    
}

.ion-logo-instagram {
    color: white;
    font-size: 25px;
}

.ion-logo-twitter {
    color: white;
    font-size: 25px;
}

.ion-logo-facebook {
    color: white;
    font-size: 25px;
}

@media (min-width: 576px) {  }
@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }

